:root {
    --buttonbg: navy;
    --textcolor: white;
    --font: Montserrat;
    --color1: #1d3c49;
    --color2: #23aea9;
    --color3: #e9c46a;
    --color4: #f4a261;
    --color5: #e76f51;
}

body {
    background-color: var(--color1);
    color: white;
}

* {
    font-family: var(--font);
}

input {
    padding: 10px;
    margin: 10px;
    background-color: var(--color2);
    border: 5px solid var(--color2);
    border-radius: 5px;
    caret-color: white;
    color: white;
}

::placeholder {
    color: hsla(0, 0%, 100%, 0.65); /* white at specified opacity */
}

input:focus {
    background-color: var(--color2);
    border: 5px solid var(--color2);
    border-radius: 5px;
    outline: none;
}

select {
    /* dropdown */
    padding: 10px;
    margin: 10px;
    background-color: var(--color2);
    border: 5px solid var(--color2);
    border-radius: 5px;
    color: white;
}

/* removes arrows from number input in chrome */
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: var(--color3);
    color: var(--color1);
    border: 5px solid var(--color3);
    border-radius: 5px;
}

button:hover {
    background-color: var(--color4);
    border-color: var(--color4);
    transition:
        background-color 0.5s,
        border-color 0.5s,
        transform 0.5s;
    transform: scale(1.1);
}

form {
    text-align: center;
}

p {
    margin: 5px;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 5px;
}

hr {
    margin: 3px;
}

.centerPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh; /* slightly less than view height removes the scroll bar */
}

#dimmer {
    /* doesn't actually dim the background, but does allow user to close the newBoardWindow by clicking outside of it */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color1);
    z-index: 1;
    visibility: hidden;
}

#newBoardWindow {
    background-color: var(--color1);
    box-shadow: 0 0 10px 5px #22414e; /* var(--color1) but slightly lighter and with less opacity */
    position: fixed;
    padding: 20px;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    max-height: 80%;
    z-index: 2;
    overflow-y: hidden;
    overflow-x: hidden;
    visibility: hidden; /* change this to make workWindow show */
}

.eventInput {
    width: 80%;
}

/* specific to eventDNE.html */

#oops {
    color: var(--color4);
}

/* specific to event.html */

#eventHeader {
    margin-top: 4%;
}

#eventDesc {
    text-align: center;
    margin-bottom: 1%;
    max-width: 50%;
    margin: auto; /* centers it */
}

#copyLinkButton {
    background-color: white;
    border: 5px solid white;
    color: var(--color1);
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}

#copyLinkButton:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
}

#addRiderForm {
    margin-bottom: 1%;
}

.carDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 0.5%;
    border: 3px solid hsla(0, 0%, 100%, 0.65);
    border-radius: 5px;
    max-width: 25%;
}

.driverDiv {
    /* puts items next to each other */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.riderDiv {
    display: flex;
    align-items: center;
}

.leftRiderDiv {
    /* also puts items next to each other */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.removeButton {
    padding: 5px;
    background-color: var(--color4);
    border-color: var(--color4);
}
