<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/style.css" />
        <script src="../static/script.js" defer></script>
        <title>roll :]</title>
    </head>
    <body>
        <div class="centerPage">
        <h1>ride with <span style="font-style: italic;">roll</span> ™</h1>
        
            <form id="newBoardForm">
                <input id="eventNameField" type="text" placeholder="name of event" autocomplete="on" required />
                <input id="eventDescField" type="text" placeholder="description" autocomplete="on" required />
                <input id="eventDatetimeField" type="datetime-local" placeholder="date and time" autocomplete="on" required />
                <button type="submit">Make Board</button>
            </form>

        </div>
    </body>
</html>
